<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>all the pets here!</h1>
    <form id="new-pet-form">
        <input type="text" name="species" placeholder="species" id="new-pet-species">
        <input type="text" name="name" placeholder="name" id="new-pet-name">
        <button>Add new pet!</button>
    </form>
    <ul id="pets"></ul>
    <a href="/api/pets">allpets</a>
    <script src="/js/script.js"></script>
</body>
</html>